.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.middleBar {
  width: 1080px;
  height: 500px;
  margin: 100px auto;
}

.commentPostArea {
  width: 100%;
  height: 75px;
}

.commentShowArea {
  width: 100%;
  height: 405px;
  margin-top: 20px;
}

.userImgIcon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid gray;
  float: left;
  position: relative;
  top: 20px;
  margin-left: 30px;
  background: url("../public/logo192.png") no-repeat;
  background-size: cover;
}

.otherImageIcon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid gray;
  float: left;
  position: relative;
  top: 25px;
  margin-left: 30px;
  background: url("../public/logo192.png") no-repeat;
  background-size: cover;
}

.commentPostInput {
  height: 30px;
  width: 250px;
  border-radius: 5px;
  border: solid 1px gray;
  float: left;
  position: relative;
  top: 20px;
  margin-left: 10px;
  font-size: 15px;
}

.commentPostBtn {
  float: left;
  position: relative;
  top: 20px;
  margin-left: 10px;
  height: 34px;
  width: 75px;
  color: black;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
}

.commentList {
  border-bottom: 1px solid gray;
  height: 100px;
  width: 800px;
}

.otherCommentUser {
  margin-top: 25px;
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
  color: gray;
}

.otherCommentContent{
  display: block;
  margin-left: 67px;
  margin-top: 10px;
}

.otherCommentDate{
  margin-left: 67px;
  margin-top: 10px;
  font-size: 12px;
  color: gray;
  display: inline-block;
}

.otherCommentAgreeNum, .deleteComment{
  font-size: 13px;
  margin-left: 30px;
}

.operationList{
  float: left;
}

.active {
  color: aqua;
}